{% macro social() %}

{% if config.extra.social %}
  <div class="social-links">
    {% for item in config.extra.social %}
      {% if item.url %}
        {% if item.name != 'email' %}
          <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}" class="iconfont icon-{{ item.name }}" title="{{ item.name }}"></a>
        {% else %}
          <a href="mailto:{{ item.url }}" class="iconfont icon-{{ item.name }}" title="{{ item.name }}"></a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if config.feed_filename %}
      <a href="{{ get_url(path=config.feed_filename) | safe }}" class="iconfont icon-rss" title="rss"></a>
    {% endif %}
  </div>
{% endif %}

{% endmacro social %}
