{% macro toc() %}

{% if config.extra.toc and page.toc %}
<div class="post-toc" id="post-toc">
  <h2 class="post-toc-title">文章目录</h2>
  <div class="post-toc-content">
    <ol class="toc">
      {% for lv1 in page.toc %}
      <li class="toc-item toc-level-2">
        <a href="{{lv1.permalink | safe}}" class="toc-link">
          <span class="toc-text">{{ lv1.title }}</span>
        </a>
        {% if lv1.children %}
        <ol class="toc-child">
          {% for lv2 in lv1.children %}
          <li class="toc-item toc-level-3">
            <a href="{{lv2.permalink | safe}}" class="toc-link">
              <span class="toc-text">{{ lv2.title }}</span>
            </a>
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endif %}

{% endmacro toc %}