{% extends "_layout.html" %}

{% import '_macro/post.html' as post_template %}

{% block title %} {{ config.title }} {% endblock %}

{% block content %}
  <section id="posts" class="posts">

    {% for post in paginator.pages %}
      <article class="post">
        {{ post_template::title(post=post) }}

        <div class="post-content">
          {% set summary = "" %}
          {% if post.description %}
            {% set summary = "<p>" ~ post.description ~ "</p>" %}
          {% elif post.summary %}
            {% set summary = post.summary %}
          {% endif %}

          {% if summary %}
            {{ summary | safe}}
            <div class="read-more">
              <a href="{{ post.permalink }}" class="read-more-link">阅读更多</a>
            </div>
          {% else %}
            {{ post.content | safe }}
          {% endif %}
        </div>
      </article>
    {% endfor %}

    <nav class="pagination">
      {% if paginator.previous %}
        <a class="prev" href="{{ paginator.previous }}">
          <i class="iconfont icon-left"></i>
          <span class="prev-text">上一页</span>
        </a>
      {% endif %}
      {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">
          <span class="next-text">下一页</span>
          <i class="iconfont icon-right"></i>
        </a>
      {% endif %}
    </nav>
  </section>
{% endblock content %}
