pre {
  display: block;
  padding: 1rem;
}

pre, code {
  font-size: 90%;
  overflow: auto;
  font-family: $code-font-family;
  margin-bottom: 0;
  color: #c9d2dc;
}

pre > code {
  display: block;
  border: none;
  font-style: normal;
  font-size: 1rem;
}

iframe {
  border: 0;
}