---
import '@/assets/styles/tailwind.scss'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import BaseHead from '@/components/BaseHead.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <BaseHead title={title} />
  <body>
    <div class='flex flex-col min-h-full'>
      <Header />
      <main class='flex-grow w-full mt-[70px]'>
        <div class='mx-auto max-w-4xl px-4 md:px-0'>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
