@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-color: theme('colors.primary.500') transparent;
}

::-webkit-scrollbar {
  @apply w-1.5 h-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-500 rounded;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
}

#nprogress .bar {
  @apply bg-primary-500 #{!important};
}

body {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  @apply text-gray-800 bg-white dark:text-gray-100 dark:bg-gray-900 antialiased;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.note {
  @apply relative px-8 py-px my-12 sm:rounded-[3px] border-l-[3px];
  //p { @apply m-0; }
  ul,
  ol {
    @apply pl-0;
  }
  &::before {
    @apply absolute bg-white rounded-full -left-[26.5px] -top-[25px] w-[50px] h-[50px];
  }
  &.tip {
    @apply bg-blue-300/30 border-blue-600;
    &::before {
      content: url('/tip.svg');
    }
  }
  &.warning {
    @apply bg-yellow-300/30 border-yellow-400;
    &::before {
      content: url('/warning.svg');
    }
  }
  &.danger {
    @apply bg-rose-300/30 border-rose-500;
    &::before {
      content: url('/danger.svg');
    }
  }
}

.dark {
  .note {
    @apply bg-slate-600/20;
    &::before {
      @apply bg-gray-900;
    }
  }
}
