@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 230deg 100% 69%;
    --color-secondary: 333deg 100% 52%;
    --color-tertiary: 53deg, 100% 50%;
    --color-decorative: 200deg, 50%, 60%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
    helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  @apply text-zinc-800 bg-white dark:text-zinc-50 dark:bg-gray-900 antialiased;
}