{% macro slideout() %}

<div id="mobile-navbar" class="mobile-navbar">
  <div class="mobile-header-logo">
    <a href="/" class="logo">{{ config.extra.even_title }}</a>
  </div>
  <div class="mobile-navbar-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<nav id="mobile-menu" class="mobile-menu slideout-menu">
  <ul class="mobile-menu-list">
    {% for item in config.extra.even_menu %}
        <li class="mobile-menu-item">
            <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                {{ item.name }}
            </a>
        </li>
    {% endfor %}
  </ul>
</nav>

{% endmacro slideout %}